.pdf_page {
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  position: relative;
  .sig_preview {
    z-index: 10000;
    position: absolute;
    display: block;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    pointer-events: none;
  }
  .sig_view {
    z-index: 10000;
    position: absolute;
    display: block;
    cursor: pointer;
  }
}
