.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 0 0 auto;
  width: 100%;
  align-content: center;
  vertical-align: middle;
  align-items: center;
  .certified_view {
    display: flex;
    flex-direction: row;
    align-items: center;
    .icon {
      width: 24px;
      margin-left: 16px;
      > img {
        width: 100%;
      }
    }
    .text {
      margin-left: 16px;
    }
  }
  .close_button_wrapper {
    margin-left: auto;
    margin-right: 5px;
    .close_button {
      padding: 3px 10px
    }
  }
}

.certified {
  background-color: rgb(199, 227, 248);
}

.not_certified {
  background-color: #FCD8D4;
}
