@import "styles/color";
@import "styles/font";

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  height: 64px;
  position: relative;

  .name {
    padding-left: 16px;
    font-size: 20px;
    font-weight: bold;
  }
  .domain_name {
    width: 200px;
    padding-left: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    > p {
      width: 100%;
      font-size: 26px;
      font-family: $logoFont;
      color: $logoColor;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    > span {
      margin-left: 14px;
      font-size: 17px;
      font-family: 'Cutive Mono', monospace;
    }
  }
  .helper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-right: 28px;
    .question_wrapper {
      &:hover {
        cursor: pointer;
      }
      .question {
        &:hover {
          color: rgba(25, 24, 35, 1) !important;
        }
      }
    }    
    .name {
      margin-left: 24px;
      padding: 6px;
      border-radius: 50%;
      width: 28px;
      height: 28px;
      background-color: rgb(188, 187, 200);
      color: rgba(25, 24, 35, 0.9);
      font-size: 20px;
      line-height: 28px;
      text-align: center;
      &:hover {
        cursor: pointer;
      }
    }
    .plan {
      border-radius: 8px;
      width: 96px;
      height: 32px;
      line-height: 32px;
      color: white;
      background-color: blue;
    }
    > svg {
      margin-left: 16px;
    }
  }
}

.container_verify {
  justify-content: center;
}
